.banco-compartir-carousel-block {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 1130px;
}	
.banco-compartir-carousel-section{
  display: flex;
  overflow: hidden;
  width: 1070px;
}
.banco-compartir-carousel-item{
    flex: 0 0 357px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.banco-compartir-carousel-item-image{
    width: 100px;
    height: 100px;
}
.banco-compartir-carousel-item-image img{
    width: 100%;
    height: 100%;
}
.banco-compartir-carousel-item-title{
    text-align: center;
    font-size: var(--al-font-size-xl);
    color: var(--al-color-brown-x500);
    line-height: 1.2;
    width: 210px;
}

.banco-compartir-carousel-button-prev,
.banco-compartir-carousel-button-next{
  width: 27px;
  height: 27px;
  background-size: 20px 27px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.banco-compartir-carousel-button-prev{
  background-image: url(https://www.pidetucreditoencompartamos.com/assets/images/iconss/arrw-left_mag.png);
}
.banco-compartir-carousel-button-next{
  background-image: url(https://www.pidetucreditoencompartamos.com/assets/images/iconss/arrw-right_mag.png);
}
button[disabled]{
  opacity: 0.5;
}
.banco-compartir-carousel-button-next:hover,
.banco-compartir-carousel-button-next:focus,
.banco-compartir-carousel-button-prev:hover,
.banco-compartir-carousel-button-prev:focus{
  background-color: transparent;
}
.banco-compartir-carousel-title{
  text-align: center;
  color: var(--color-primary-principal);
  font-size: var(--al-font-size-x6);
  line-height: var(--al-font-size-x6);
  margin-bottom: 35px;
  font-weight: bold;
}